<div *ngIf="!file.isFile; else elseBlock" (click)="itemClick()">
  <div class="row justify-content-center">
    <fa-icon class="folderIcon" [icon]="faFolder"></fa-icon>
  </div>
  <div class="row justify-content-center">
    <a>{{file.name}}</a>
  </div>
</div>


<ng-template #elseBlock>
  <div>
    <div class="row justify-content-center">
      <fa-icon class="folderIcon" [icon]="faFile"></fa-icon>
    </div>
    <div class="row justify-content-center">
      <a>{{file.name}}</a>
    </div>
  </div>
</ng-template>