
<div *ngIf="!file.isFile; else elseBlock" [contextMenu]="file.isFile ? PastaMenu:ArquivoMenu" (click)="itemClick()">
  <div class="row justify-content-center">
    <fa-icon class="folderIcon" [icon]="faFolder"></fa-icon>
  </div>
  <div class="row justify-content-center">
    <a>{{file.name}}</a>
  </div>
</div>

<ng-template #elseBlock>
  <div>
    <div class="row justify-content-center">
      <fa-icon class="folderIcon" [icon]="faFile"></fa-icon>
    </div>
    <div class="row justify-content-center">
      <a>{{file.name}}</a>
    </div>
  </div>
</ng-template>


<context-menu #Arquivo>
  <ng-template contextMenuItem>
    Item Opção 1
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem>
    Item Opção 2
  </ng-template>
</context-menu>

<context-menu #Pasta>
  <ng-template contextMenuItem>
    Item Opção 3
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem>
    Item Opção 4
  </ng-template>
</context-menu>


