
<div *ngIf="!file.isFile; else elseBlock" [contextMenu]="PastaMenu" (click)="itemClick()">
  <div class="row justify-content-center">
    <fa-icon class="folderIcon" [icon]="faFolder"></fa-icon>
  </div>
  <div class="row justify-content-center">
    <a>{{file.name}}</a>
  </div>
</div>

<ng-template #elseBlock>
  <div [contextMenu]="ArquivoMenu">
    <div class="row justify-content-center">
      <fa-icon class="folderIcon" [icon]="faFile"></fa-icon>
    </div>
    <div class="row justify-content-center">
      <a>{{file.name}}</a>
    </div>
  </div>
</ng-template>


<context-menu #Arquivo>
  <ng-template contextMenuItem>
   Download
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem>
      Excluir
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem>
      Renomear
  </ng-template>
</context-menu>

<context-menu #Pasta>
  <ng-template contextMenuItem>
    Abrir
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem>
    Excluir 
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem>
    Renomear
  </ng-template>
</context-menu>


