<div class="cover-dark form-dark">
  <form>
    <h2 class="sr-only">Login Form</h2>
    <div class="illustration">
      <fa-icon [icon]="faCloud"></fa-icon>
      <a class="subtittle">DocDrive</a>
    </div>
    <div class="form-group">
      <input class="form-control" type="text"
        [ngClass]="{ 'is-invalid': emailField.invalid && (emailField.dirty || emailField.touched) && emailField.errors.required}"
        [formControl]="emailField" name="mail" placeholder="Email">
      <div class="is-invalid-feedback"
        *ngIf="emailField.invalid && (emailField.dirty || emailField.touched) && emailField.errors.required">
        E-mail é obrigatório
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" type="password"
        [ngClass]="{ 'is-invalid':passwordField.invalid && (passwordField.dirty || passwordField.touched) && passwordField.errors.required}"
        [formControl]="passwordField" name="password" placeholder="Senha">
      <div class="is-invalid-feedback"
        *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched) && passwordField.errors.required">
        Senha é obrigatória
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" [disabled]="emailField.invalid || passwordField.invalid"
        (click)="login_click()">Entrar</button>
    </div>
    <a class="login" [routerLink]="['/cadastro']">Cadastrar-se</a>
  </form>
</div>