<form class="form col-md-12 center-block" id="formDados" runat="server">
    <div id="cadastroModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog"> 
        <div class="modal-content" id="divconteudo"> 
          <div class="modal-header">
            <img src="resources\icons\icon.png" width=60 height=40>
            <h5 class="text-center">LOGIN</h5>
          </div>
          <div class="modal-body">  
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput" width="100px" placeholder="E-mail">
              <br>
              <input type="password" class="form-control" id="formGroupExampleInputestet" width="100px" placeholder="Senha">
  
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success">Entrar</button>          
            </div>
          </div>
        </div>
  
      </div>
    
    </div>
  </form>