<div class="content" [contextMenu]="basicMenu">
  <div class="container-fluid ">
    <div class="row d-flex h-100" style="background-color: grey">
      <div class="col-12 ">
        <div *ngIf="parentFolder; else elseBlock" style="padding: 10px;">
          <fa-icon (click)="goBack()" [icon]="faArrowLeft"></fa-icon> {{parentFolder.name}}
        </div>
      </div>
    </div>
    <div class="row" app-file-list [files]="files" (OnItemClick)="itemClick($event)">
    </div>
  </div>
</div>


<context-menu>
  <ng-template contextMenuItem>
      Criar Pasta
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem>
      Upload
  </ng-template>
</context-menu>

<ng-template #elseBlock style="padding: 10px;">
  <div style="padding: 10px;"> <span> Pastas e Arquivos</span></div>
</ng-template>